.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    margin-left: 0;
}
.header-list{
    max-width: 432px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
}
.header-link{
    max-width: 350px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
}
.h-burger{
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    margin-right:0 ;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}
.header-item>a{
color: #302929;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 16px */
}
.header-item>a:hover{
    color: #b0cc0d;
    text-decoration: underline;
}
.hl-item:nth-child(1){
    margin-left: 0;
}
.hl-item:nth-child(1)>a{
    width: 118px;
    display: flex;
    align-items: center;
    color: #302929;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
.hl-item:nth-child(3)>a{
width: 140px;
height: 36px;
display: flex;
align-items: center;
justify-content: space-between;
background: #FFA800;
color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 19.2px */
text-transform: uppercase;
border-radius: 20px;
padding-right: 20px;
}
.hl-item:nth-child(3)>a:hover{
    background: #B0CC0D;
}
.hl-item:nth-child(3)>a>i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}
.hl-item>select{
    border: none;
    cursor: pointer;
    outline: none;
    color: #302929;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}