*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}
.wrapper{
    max-width: 1280px;
    padding: 0 40px;
    /* border: 1px solid green; */
}
.container{
    max-width: 1200px;
    width: 100%;
    /* border: 1px solid red; */
}
::-webkit-scrollbar {
    width: 0.01px;
    height: 0.01px;
  }